modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Extension Testing"

[[workflows.workflow]]
name = "Extension Testing"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 3000 -c-1"
waitForPort = 3000

[deployment]
run = ["sh", "-c", "npx http-server -p 3000 -c-1"]

[[ports]]
localPort = 3000
externalPort = 80
